@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .page {
    @apply h-screen grid place-items-center text-4xl font-semibold;
  }
}

.nav a {
  padding: 10px 20px;
}

.nav a:hover {
  background: rgb(49, 49, 49);
}

.nav .active {
  background: rgb(30, 30, 30);
}
