@import "tailwindcss";

/* Eskiden tailwind config.js'de yaptığımız konfigrasyonu artık @theme içerisinde yapıyoruz */
@theme {
  --color-dark-gray: rgb(23, 23, 23);
  --color-hero: rgb(23, 23, 23);
  --color-pattern: rgb(23, 23, 23);
  --color-black-100: #2b2c35;
  --color-primary-blue: #2b59ff;
  --color-primary-blue-100: #f5f8ff;
  --color-grey: #747a88;
  --color-light-white: rgba(59, 60, 152, 0.03);
  --color-light-white-100: rgba(59, 60, 152, 0.02);
  --color-secondary-orange: #f79761;
}

/* Mevcut elemetnleri stillendirme */
@layer utilities {
  body {
    @apply bg-dark-gray;
  }
}

/* Kendi coluşturduğumuz class'ları stillendirme */
@layer components {
  .max-width {
    @apply max-w-[1440px] mx-auto;
  }

  .padding-x {
    @apply sm:px-16 px-6;
  }

  .padding-y {
    @apply py-4;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .custom-btn {
    @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none cursor-pointer bg-primary-blue rounded-full hover:bg-blue-800 transition;
  }
  /* END: General styles */

  /* START: Hero styles */
  .hero {
    @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
  }

  .hero-title {
    @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
  }

  .hero-subtitle {
    @apply text-[27px] font-light mt-5;
  }

  .hero-image-container {
    @apply xl:flex-[1.5] flex justify-end items-center w-full xl:h-screen max-h-[920px];
  }

  .hero-image {
    @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0 flex items-center;
  }

  .hero-image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
  }
  /* END: Hero styles */

  /* START: Home styles */

  .home-text-container {
    @apply flex flex-col items-start justify-start gap-y-2.5;
  }

  .home-filters {
    @apply mt-12 w-full flex justify-between items-center flex-wrap gap-5;
  }

  .home-filter-container {
    @apply flex justify-start flex-wrap items-center gap-2;
  }

  .home-cars-wrapper {
    @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
  }

  .home-error-container {
    @apply my-16 flex justify-center items-center flex-col gap-2;
  }
  /* END: Home styles */

  /* START: Car Card styles */
  .car-card {
    @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
  }

  .car-card-content {
    @apply w-full flex justify-between items-start gap-2;
  }

  .car-card-content-title {
    @apply text-[22px] leading-[26px] font-bold capitalize;
  }

  .car-card-price {
    @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
  }

  .car-card-price-dollar {
    @apply self-start text-[14px] leading-[17px] font-semibold;
  }

  .car-card-price-day {
    @apply self-end text-[14px] leading-[17px] font-medium;
  }

  .car-card-image {
    @apply relative w-full h-40 my-3 object-contain;
  }

  .car-card-icon-container {
    @apply flex group-hover:invisible w-full justify-between text-grey;
  }

  .car-card-icon {
    @apply flex flex-col justify-center items-center gap-2;
  }

  .car-card-icon-text {
    @apply text-[14px] leading-[17px];
  }

  .car-card-btn-container {
    @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
  }
  /* END: Car Card styles */

  /* START: Car Details styles */
  .car-details-dialog-panel {
    @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
  }

  .car-details-close-btn {
    @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
  }

  .car-details-main-image {
    @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
  }
  /* END: Car Details styles */

  /* START: Custom Filter styles */
  .custom-filter-btn {
    @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
  }

  .custom-filter-options {
    @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black focus:outline-none sm:text-sm;
  }
  /* END: Custom Filter styles */

  /* START: Footer styles */
  .footer {
    @apply flex flex-col text-black-100 mt-5 border-t border-gray-100;
  }

  .footer-links-container {
    @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
  }

  .footer-rights {
    @apply flex flex-col justify-start items-start gap-6;
  }

  .footer-links {
    @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
  }

  .footer-link {
    @apply flex flex-col gap-6 text-base min-w-[170px];
  }

  .footer-copyrights {
    @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
  }

  .footer-copyrights-link {
    @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
  }
  /* END: Footer styles */

  /* START: searchbar styles */
  .searchbar {
    @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
  }

  .searchbar-item {
    @apply flex-1 max-sm:w-full flex justify-start items-center relative;
  }

  .searchbar-input {
    @apply w-full h-[38px] pl-12 p-4 outline-none cursor-pointer text-sm;
  }
  /* END: searchbar styles */

  /* START: search manufacturer styles */
  .search-manufacturer {
    @apply flex-1 max-sm:w-full flex justify-start items-center;
  }

  .search-manufacturer-input {
    @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
  }

  .search-manufacturer-options {
    @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black focus:outline-none sm:text-sm;
  }

  .search-manufacturer-option {
    @apply cursor-default select-none py-2 pl-10 pr-4;
  }
}

.pagination {
  display: flex;
  width: 100%;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  gap: 5px;
}

.pagination li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid rgb(112, 112, 112);
  cursor: pointer;
  transition: all 0.3s;
}

.pagination li:hover {
  background: rgb(62, 62, 62);
}

.pagination .selected {
  background: rgb(3, 90, 229);
  color: white;
}

.pagination .previous,
.pagination next {
  font-weight: bold;
}
