* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f2f2;
  color: black;
  font-family: "cairo";
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: "cairo";
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 16px;

  &:hover {
    background: rgba(128, 128, 128, 0.244);

    filter: brightness(60%);
  }
}

input {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-family: "cairo";
  border-radius: 5px;
}

a {
  color: black;
  text-decoration: none;
}
